body{
  background-color: rgb(206, 241, 255);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  border: none;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 2px 3px 2px rgb(201, 211, 221);
  overflow: hidden;
}

.info{
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-div>img{
  width: 500px;
  position: relative;
}

.img-div>img:hover{
  transition: all 0.7s;
  scale: 1.1;

}

.img-div> span> i{
  position: absolute;
  top: auto;
  right: 200px;
}

.info > p{
  margin: 5px 10px;
}

.info > p:nth-child(2){
  font-size: 37px;
  color: orange;
  font-weight: bold;
}

hr{
  margin-left: 10px; margin-right: 10px;
  color: rgb(196, 196, 196);
  outline-color: rgb(197, 194, 194) ;
}

.rooms{
  display: flex;
  justify-content: center;
}

.room-div{
  padding: 20px 60px;
}
.agent{
  padding: 0px 20px;
  margin-bottom: 10px;
}
.agent>p:first-child{
  word-spacing: 5px;
}
.agent > div> img{
  width: 70px;
  border-radius: 50%;
}
.agent-div{
  display: flex;
  align-items: center;
}
.owner{
display: flex;
flex-direction: column;
padding-left: 20px;
}
.owner > p{
  margin: 0;
  line-height: 1.5;
}

button{
  margin-left: 150px;
  padding: 10px 27px;
  border-radius: 7px;
  border: none;
  background-color: lightgreen;
  color: white;
}