<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 
    jsp, thymeleaf 사용 시 input 태그의 데이터를 받으려면 form태그로 input 태그를 감싼다.
    submit 기능을 담당하는 버튼도 form 태그 안에 위치해야 한다.
    form 태그 안의 submit 버튼을 클릭하면 form 태그 안에 포함된 input 태그의 value 값을 action 속성에 작성한 url로 가져감
    form 태그의 method 속성은 무조건 post로 작성
  -->

  <form action="/boards/write" method="post">
    작성자 : <input type="text" name="writer"> <br>
    제목 : <input type="text" name="title"> <br>
    내용 : <input type="text" name="content"> <br>
    <button type="submit">등록</button>
  </form>

  <!-- <form action="/boards/write2" method="post">
    이름 : <input type="text" name="name"> <br>
    나이 : <input type="text" name="age"> <br>
    <button type="submit">등록</button>
  </form> -->







</body>
</html>