<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>수정화면</h2>
  <form action="/boards/update" method="post">
    <input type="hidden" th:value="${board.boardNum}" name="boardNum">
    제목 : <input type="text" th:value="${board.title}" name="title"> <br>
    내용 : 
    <textarea cols="50" rows="5" name="content">[[${board.content}]]</textarea> <br>
    <button type="submit">수정</button>
  </form>
</body>
</html>