.header{
  background-color: black;
  /* 100vh : 웹 브라우저의 세로 크기 */
  height: 15vh;
  padding: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.banner{
  display: flex;
  align-items: center;
  /* flex 아이템들끼리 여백주는건 gap */
  gap: 6px;
}
.menu{
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}