<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.board.mapper.BoardMapper">
	<!--resultMap : 데이터베이스 테이블에서 조회된 데이터를 spring으로 가져올 자료형을 매칭-->
	<resultMap id="board" type="com.green.board.dto.BoardDTO">
		<id 	column="BOARD_NUM" 		property="boardNum" />
		<result column="TITLE" 			property="title" />
		<result column="WRITER" 		property="writer" />
		<result column="CONTENT" 		property="content" />
		<result column="READ_CNT" 		property="readCnt" />
		<result column="CREATE_DATE" 	property="createDate" />
	</resultMap>

	<!-- 게시글 목록 조회 -->
	<!-- 화면에 보여줄 데이터만 조회
		 단, PK컬럼은 무조건 조회 -->
	<!-- select외엔 resultMap, resultType 필요 X-->
	<!-- select태그는 resultType 혹은 resultMap 속성을 반드시 사용해야 함. -->
	<!-- resultType, resultMap : 쿼리 실행 결과를 조회되는 하나의 행 데이터를 저장할 변수를 지정 -->
	<!-- resultType : 실행 결과 데이터가 자바에서 제공하는 자료형으로 받을 수 있을 때 사용 -->
	<!-- resultMap : 실행 결과 데이터를 우리가 만든 자료형(CLASS, BoardDTO)으로 받을 때-->

	<!--#{}로 작성된 빈 값은 Mapper Interface에서 선언한 추상메서드의 매개변수로 채워짐-->
	<!--case1. 매개변수로 DTO. 객체로 전달되면 #{} 안에 작성된 변수의 getter를 호출하여 데이터를 채워줌.-->
	<!--case2. 매개변수로 int, String이 전달되면, getter가 없어서 getter 호출을 하지 않기에
	변수명 자유롭게 작성 가능, 해석할 때 #{} 변수명으로 비교하는 것이 아니라 자료형 int, String으로 비교하기에 자료형이 중요함.-->
	<!--case2. 단순히 정수 데이터 하나, 문자열 데이터 하나만 채워주면 장땡임-->


	<!--resultMap="board" 는 위의 resultMap id="board"와 일치시킴 -->
	<select id="selectBoardList" resultMap="board">
		SELECT BOARD_NUM
			, TITLE
			, WRITER
			, READ_CNT
			, CREATE_DATE
		FROM BASIC_BOARD
		<!-- test 안의 내용이 참일 때만 실행
		 test가 조건임, 그리고 자바문법으로 사용하되 and, or로 사용
		 test를 '' 로 감싸서 사용가능하고, equals("")괄호 안에는 "" 사용-->
		<!-- test 안에 작성한 변수는 매개변수로 전달된 객체의 getter를 호출해서 해석-->
		<!-- #{} -> ''에 감싸짐. 일반적인 변수에서 사용-->
		<!-- ${} -> '' 없음! 컬럼명이 변수일 때 사용
			무분별하게 사용하면 해킹위험도 높아짐!-->
		<if test='!searchValue.equals("")'>
			WHERE UPPER(${searchKeyword}) LIKE CONCAT('%', UPPER(#{searchValue}), '%')
		</if>
		 ORDER BY CREATE_DATE DESC
	</select>

	<insert id="insertBoard">
		INSERT INTO BASIC_BOARD (
			TITLE
			, WRITER
			, CONTENT
		) VALUES(
			#{title} <!-- boardDTO.getTitle(); DTO 클래스의 멤버변수 getter를 불러와야 하니
					멤버변수명과 돌일하게 작성-->
			,#{writer}
			,#{content}
		)
	</insert>

	<!--조회 : 화면에 보여줄 데이터-->
	<!--전체 조회-->
	<select id="oneBoardData" resultMap="board">
		SELECT BOARD_NUM
			, CREATE_DATE
			, WRITER
			, READ_CNT
			, TITLE
			, CONTENT
		FROM BASIC_BOARD
		WHERE BOARD_NUM = #{boardNum}
	</select>

	<!--조회수 증가 쿼리-->
	<update id="updateReadCnt">
		UPDATE BASIC_BOARD
		SET
			READ_CNT = READ_CNT + 1
		WHERE BOARD_NUM = #{boardNum}
	</update>

	<!--게시글 삭제 쿼리-->
	<delete id="deleteBoardData">
		DELETE FROM BASIC_BOARD
		 WHERE BOARD_NUM = #{BOARD_NUM}
	</delete>

	<!--게시글 정보 수정 쿼리-->
	<update id="updateBoard">
		UPDATE BASIC_BOARD
		SET
			TITLE = #{title}
			,CONTENT = #{content}
		WHERE BOARD_NUM = #{boardNum}
	</update>









</mapper>































