.container{
  
}

.search{
  display: flex;
  justify-content: end;
  margin: 10px;
  gap: 5px;
  
}

.search > select{
  width: 100px;
  border-radius: 5px;
}

.search > input{
  border-radius: 5px;
}

.search > button{
  border-radius: 5px;
  background-color: rgb(70, 70, 70);
  border: none;
  color: white;
  width: 80px;
  height: 25px;
}

.table{
  border: 1px solid black;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

