@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.container{
  
}

.title{
  font-family: 'Paperozi';
  font-size: 1.7rem;
  margin-bottom: 30px;
}

.table input[type='text']{
 width: 500px;
 height: 30px;
}

.table :nth-child(2) {
  padding: 20px 0px 20px 10px;
}

.table textarea{
  width: 500px;
  height: 100px;
}

.table > tr:first-child{
  font-family: 'NanumSquareRound';
}

.reg{
  
  
}

.reg > button{
  background-color: rgb(61, 61, 61);
  border: none;
  color: white;
  width: 100px;
  height: 25px;
  border-radius: 7px;
  margin: 20px 230px;
  font-size: 1.0rem;
  font-family: 'NanumSquareRound';
}