<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.legacy.mapper.ReplyMapper">
    <resultMap id="reply" type="com.green.legacy.dto.ReplyDTO">
        <id     property="replyNum"     column="REPLY_NUM" />
        <result property="replyContent" column="REPLY_CONTENT" />
        <result property="replyWriter"  column="REPLY_WRITER" />
        <result property="regDate"      column="REG_DATE" />
    </resultMap>

    <select id="selectReplyList" resultMap="reply">
        SELECT REPLY_NUM
            , REPLY_CONTENT
            , REPLY_WRITER
            , REG_DATE
        FROM LEGACY_REPLY
        WHERE BOARD_NUM = #{boardNum}
        ORDER BY REG_DATE DESC
    </select>

    <insert id="insertReply">
        INSERT INTO LEGACY_REPLY(
            REPLY_WRITER
            , REPLY_CONTENT
            , BOARD_NUM
        ) VALUES(
            #{replyWriter}
            , #{replyContent}
            , #{boardNum}
        )
    </insert>

    <delete id="deleteReply">
        DELETE FROM LEGACY_REPLY
        WHERE REPLY_NUM = #{replyNum}
    </delete>


</mapper>































