body{
  background-color: #caf4ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  border: none;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item{
  height: 80px;
  border-radius: 7px;
  background-color: white;
  padding: 5px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;

}
.item:hover{
  scale: 1.1;
  transition: all 0.5s;
}
img{
  width: 70px;
  border: 1px solid black;
  border-radius: 50%;
}

.inner-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}