body{
  background-color: lightcyan;
}

.container{
  background-color: white;
  width: 400px;
  margin: 30px auto;
  padding: 40px;
  font-size: 13px;
}

.title-div{
  margin-bottom: 30px;
}
.title-div > p{
  font-size: 0.7rem;
  margin-top: 8px;
}

.form-div p{
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 3px;
}
.form-div> div{
  margin-bottom: 12px;
}
.id-div{
  display: flex;
  gap: 10px;
}

.id-div > input{
  width: 70%;
}
.id-div > button{
  width: 30%;
}

input, select{
  padding: 6px 4px;
  border: 1px solid lightslategray;
  border-radius: 3px;
  width: 100%;
}

/* input 태그는 클릭하면 border가 바뀌는게 아니라 outline이 생기는거임. 
outline은 주변 요소에 영향을 주지 않음
결론- border보다 outline 써서 디자인 꾸미기*/
input:focus, select:focus{
  /* border: 1px solid rgb(236, 58, 132); */
  outline: 1px solid rgb(137, 169, 255);
}

.addr-div{
  display: flex;
  gap: 10px;
  align-items: center;
}

.birthday-div{
  display: flex;
  gap: 16px;
}

.btn{
  border: none;
  color: black;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 7px 18px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 1px rgb(253, 213, 213);
}

.btn-blue{
  background-color: rgb(201, 235, 247);
}
.btn-yellow{
  background-color: rgb(255, 255, 152);
}
.btn-div{
  display: flex;
  justify-content: center;
  gap: 12px
  ;
}