<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.item.mapper.ItemMapper">
	<resultMap id="item" type="com.green.item.dto.ItemDTO">
        <id     column="ITEM_NUM"   property="itemNum" />
        <result column="ITEM_NAME"  property="itemName" />
        <result column="ITEM_PRICE" property="itemPrice"/>
        <result column="REG_DATE"   property="regDate" />
        <result column="ITEM_INTRO" property="itemIntro" />
    </resultMap>
    <!--위의 resultMap은 조회할 데이터를 가져갈게요 할 때 사용-->
    <!--DB테이블과 자바를 연결시키는 기능이 있음-->

    <!--상품 등록 쿼리-->
    <insert id="postItem">
        INSERT INTO ITEM (
            ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
        ) VALUES (
             #{itemName}
            , #{itemPrice}
            , #{itemIntro}
        )
    </insert>

    <!--상품 조회 쿼리-->
    <!--조회한 데이터 중 하나의 행 데이터를 가져올 자료형-->
    <select id="selectItem" resultMap="item">
        SELECT ITEM_NUM
            , ITEM_NAME
            , ITEM_PRICE
            , REG_DATE
        FROM ITEM
        ORDER BY REG_DATE DESC
    </select>
</mapper>































