.container{
  height: 400px;
  width: 500px;
  margin: 30px auto;
  border: 1px solid black;
  display: grid;

  /* repeat(갯수, 배율/%/px) */
  /* grid-template-columns: 2fr 2fr 2fr 2fr; * - 배율로 적용/
  /* grid-template-columns: 20% 30% 10% 20%; */
  /* grid-template-columns: 150px 150px 200px; */
  /* grid-template-rows: ; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 10px 20px;
  /* grid gpa: 10px 은 가로 세로 다 10px씩 여백주는 것 
  gap: 10px 20px 은 상하 10px 좌우 20px씩 여백주는 것*/

}

.item{
  /* border: 1px solid red;
  background-color: black;
  background-color: #000000;
  background-color: rgb(255, 10, 100); */
  /* 0 ~ 255 까지의 숫자 사용 가능 */
  background-color: rgba(0, 0, 0, 0.2);
  
}