body{
  background-color: #778798;
  display: flex;
  justify-content: center;

}

.container{
  background-color: white;
  width: 100vh;
  height: 80%;
  border: 1px solid white;
  margin: 10px auto;
}

.head-div{
  text-align: center;
}

.head-div > p:first-child{
  border-radius: 7px;
  background-color: lightpink;
  color: white;
  width: 15%;
  text-align: center;
  margin: auto;
}

h3{
  font-size: 1.5rem;
}

.content{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 7px;
}

.img-div{
  width: 100%;
}

.info{
  background-color: rgba(0, 0, 0, 0.2);
  width: 50%;
}