<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/stu_manage.css">
</head>
<body>
  <div>
    <h3>학급 조회</h3>
    <select id="classSelector" onchange="asyncGetList()">
      <option value="0">전체</option>
      <th:block th:each="cls : ${classList}" >
        <option 
          th:value="${cls.classNum}"
          th:selected="${cls.classNum == selectedClassNum}"
        >[[${cls.className}]]</option>
      </th:block>
    </select>
  
  
    <table border="1" id="list_table">
      <thead>
        <tr>
          <td>No</td>
          <td>학번</td>
          <td>이름</td>
          <td>학년</td>
          <td>학급 번호</td>
          <td>학급명</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="stu, state : ${stuList}">
          <td>[[${#lists.size(stuList) - state.index}]]</td>
          <td>[[${stu.stuNum}]]</td>
          <td>
            <div 
              th:onclick="getScoreInfo([[${stu.stuNum}]])"
              style="cursor: pointer;"
            >[[${stu.stuName}]]</div>
          </td>
          <td>[[${stu.stuYear}]]</td>
          <td>[[${stu.classNum}]]</td>
          <td>[[${stu.classDTO.className}]]</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="score-div">
    
  </div>

  <!-- axios 문법 사용을 위해 추가 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/stu_manage.js"></script>
</body>
</html>