<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>태그 접근 및 속성 값 제어</h3>
    <input type="text" id="num1"> 
    + 
    <input type="text" id="num2">
    <button type="button" onclick="cal()">계산</button> 
    <br>
    <input type="text" id="result">

    <hr>
    <h3>그림 그리기</h3>

    <button type="button" onclick="addRow()">행 추가</button>

    <table border="1" id="table">
        <thead>
            <tr>
                <td>h</td>
                <td>e</td>
                <td>y</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>j</td>
                <td>k</td>
                <td>!</td>
            </tr>
            <tr>
                <td>y</td>
                <td>j</td>
                <td>~</td>
            </tr>
        </tbody>
    </table>

    <script src="/js/test1.js"></script>
</body>
</html>