.container{
  width: 1200px;
  margin: 0px auto;
}

.header{
  height: 100px;
  background-color: #0c51a6 ;
  color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.header > ul{
  display: flex;
  background-color: #0a4288;
  width: 600px;
  padding: 16px 0px;
  justify-content: space-around;
}

.banner{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-info {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  /* top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%); */
  /* transform: translate() - 양수면 오른쪽, 밑으로 이동
  음수면 왼쪽, 위로 이동 */

  text-align: center;
  padding: 24px;
}
.content{
  display: flex;
}

.content > div{
  border: 1px solid black;
  width: 100%;
}

.content-1{
  padding: 10px;
  background-color: rgb(233, 245, 255);
}

table{
  width: 100%;
  margin-top: 6px;
}

tr > td:nth-child(2){
  text-align: right;
}

td{
  padding: 8px 0px;
}

.content-2{
  position: relative;
}

.content-2 > div{
  position: absolute;
  /* position absoulute or fixed를 주면 모든 요소는 인라인 블록 요소로 속성 변경됨. */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* 00% - 부모태그의 기준으로 크기 정함 */

  color: white;
  text-align: center;
}

.content-2 button{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  border: none;
  padding: 6px 16px;
  color: white;
  margin-top: 8px;

}

.content-3 > div{
  object-fit: cover;
  object-position: center center;
}

.footer{
  background-color: rgb(219, 219, 219);
  display: flex;
  height: 100px;
  align-items: center;
}

.footer > h1{
  width: 30%;
  margin-left: 24px;
  color: gray;

}

.footer  ul{
  display: flex;
  margin: 0px auto;
  justify-content: center;
  gap: 7px;
}

.footer > div{
  width: 70%;
  text-align: center;
}